<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=ISO-2022-JP">
   <title>Java(TM) Web Start README</title>
</head>
<body bgcolor="#FFFFFF">
&nbsp;
<table BORDER=0 WIDTH="100%" >
<tr>
<td WIDTH="40"><img SRC="javalogo52x88.gif" ALT="Java" BORDER=0 height=88 width=52></td>

<td ALIGN=CENTER>
<h1>
README</h1>

<h2>
Java<sup><font size=-2> TM</font></sup> Web Start $B%F%/%N%m%8(J</h2>

<h3>
$B%P!<%8%g%s(J 1.4.2</h3>
</td>

<td ALIGN=RIGHT VALIGN=TOP WIDTH="40">
<!--
<a href="../../docs/readme.html"><IMG SRC="/products/javawebstart/ja/images/english.gif" border="0" ALT="$B1Q8lHG(J"></a>

-->

</td>
</tr>
</table>

<h2>
$BL\<!(J</h2>

<blockquote>
<b><a href="#intro">$B$O$8$a$K(J</a></b>
<br><b><a href="#install">$B%$%s%9%H!<%kJ}K!(J</a></b>
<br><b><a href="#use">Java Web Start $B%=%U%H%&%'%"$N;HMQ(J</a></b>
<br><b><a href="#relnotes">$B%j%j!<%9%N!<%H(J</a></b>
</blockquote>

<a NAME="intro"></a>
<h2>
$B$O$8$a$K(J</h2>

<blockquote>
Java<sup><font size=-2>TM</font></sup> Web Start $B$O!"(JJava $B%F%/%N%m%8%Y!<%9$N%"%W%j%1!<%7%g%s$NG[Hw%=%j%e!<%7%g%s$G$9!#$3$l$O!"%3%s%T%e!<%?$H%$%s%?!<%M%C%H$r7k$V$3$H$K$h$j!"%f!<%6$,(J Web $B%"%W%j%1!<%7%g%s$rD>@\5/F0$*$h$S4IM}$9$k$3$H$r2DG=$K$7$^$9!#(JJava Web Start $B$r;HMQ$9$k$H!"%"%W%j%1!<%7%g%s$r(J 1 $B2s$N%/%j%C%/$G5/F0$G$-!"$^$?J#;($J%$%s%9%H!<%k$d%"%C%W%0%l!<%I=hM}$r9T$&$3$H$J$/>o$K:G?7%P!<%8%g%s$N%"%W%j%1!<%7%g%s$r;HMQ$G$-$^$9!#(J
<p>
$B=>Mh$NJ}K!$r;HMQ$7$F(J Web $B$G%=%U%H%&%'%"$rG[I[$9$k>l9g!"%f!<%6$O%$%s%9%H!<%k%W%m%0%i%`$r(J Web $B$G8!:w$7$F%@%&%s%m!<%I$7!"%7%9%F%`$KJ]B8$7$F!"%$%s%9%H!<%k%W%m%0%i%`$r<B9T$9$kI,MW$,$"$j$^$9!#%$%s%9%H!<%k%W%m%0%i%`$,5/F0$9$k$H!"%$%s%9%H!<%k@h$N%G%#%l%/%H%j!"$*$h$S%$%s%9%H!<%k$N%*%W%7%g%s(J ($B!V$9$Y$F!W!"!VI8=`9=@.!W!"!V:G>.9=@.!W$J$I(J) $B$N;XDj$,%f!<%6$K5a$a$i$l$^$9!#$3$l$O;~4V$N$+$+$kJ#;($J:n6H$G$"$j!"%=%U%H%&%'%"$N%P!<%8%g%s$,?7$7$/$J$k$?$S$K7+$jJV$9I,MW$,$"$j$^$9!#(J
<p>
$B0lJ}!"(JWeb $B$KG[Hw$5$l$?%"%W%j%1!<%7%g%s(J ($B9%$_$N(J HTML $B%Y!<%9$NEE;R%a!<%k%/%i%$%"%s%H$d%+%l%s%@!"%*!<%/%7%g%s%5%$%H$J$I(J) $B$O!"%$%s%9%H!<%k$*$h$S;HMQ$,Hs>o$K4JC1$G$9!#(JWeb $B%V%i%&%6$,$3$l$i$N=hM}$r$9$Y$F<+F0E*$K9T$&$N$G!"<j$N9~$s$@%@%&%s%m!<%I!"%;%C%H%"%C%W!"$*$h$S@_Dj:n6H$OI,MW$"$j$^$;$s!#$^$?!">o$K:G?7$N%P!<%8%g%s$r<B9T$G$-$^$9!#(J
<p>
Java Web Start $B%F%/%N%m%8$O!"40A4AuHw$N%"%W%j%1!<%7%g%s$K!"@h$K=R$Y$?(J HTML $B%Y!<%9$N%"%W%j%1!<%7%g%s$HF1$8MxE@$rDs6!$7$^$9!#(JJava Web Start $B%F%/%N%m%8$O!"(JWeb $B$G$N%"%W%j%1!<%7%g%sG[Hw$r2DG=$K$9$k%=%j%e!<%7%g%s$G$9!#(JHTML $B%Y!<%9$N%/%i%$%"%s%H$NBe$o$j$K40A4AuHw$N%"%W%j%1!<%7%g%s$r;HMQ$9$k$3$H$K$O!"<!$N$h$&$J%a%j%C%H$,$"$j$^$9!#(J
<ul>
<li>
$B%o!<%I%W%m%;%C%5$d%9%W%l%C%I%7!<%H$J$I$N=>Mh7?%"%W%j%1!<%7%g%s$KI$E($9$k!"$-$o$a$FBPOCE*$J%f!<%6%$%s%?%U%'!<%9$rMxMQ$G$-$^$9!#(J</li>

<li>
$BDc$$BS0hI}MW7o$G;HMQ$G$-$^$9!#%"%W%j%1!<%7%g%s$O!"%/%j%C%/$N$?$S$K(J Web $B%5!<%P$K@\B3$9$kI,MW$O$J$/!"%@%&%s%m!<%I:Q$_$N>pJs$r%-%c%C%7%e$9$k$3$H$,$G$-$^$9!#$3$N$?$a!"2s@~$,DcB.$G$"$C$F$b%9%`!<%:$KBPOC=hM}$r9T$&$3$H$,$G$-$^$9!#(J</li>

<li>
$B%*%U%i%$%s$G$N;HMQ$,%5%]!<%H$5$l$^$9!#(J</li>
</ul>
$BEvA3$N$3$H$G$9$,!"(JWeb $BG[Hw$N%"%W%j%1!<%7%g%s$r:G=i$K;HMQ$9$k$H$-!"%"%W%j%1!<%7%g%s$r%@%&%s%m!<%I$9$kI,MW$,$"$j$^$9!#$7$?$,$C$F(JHTML $B%Y!<%9$N%"%W%j%1!<%7%g%s$O!"=i2s5/F0;~$N%3%9%H$,$+$+$j$^$9!#0lHLE*$K$O!"(J Web $B%Z!<%8$O?tIC$GI=<($5$l$^$9!#(JJava<sup><font size=-2>TM</font></sup> $B%F%/%N%m%8%Y!<%9$N%"%W%j%1!<%7%g%s$O!"DL>o$N%b%G%`@\B3$N>l9g!"%@%&%s%m!<%I$K?tJ,$rMW$7$^$9!#(JJava Web Start $B$G$O!"%@%&%s%m!<%I$7$?%U%!%$%k$,$9$Y$F!"%m!<%+%k$N%3%s%T%e!<%?$K%-%c%C%7%e$5$l$^$9!#$3$N$?$a!"%"%W%j%1!<%7%g%s$O!"=i2s5/F0%3%9%H$,(J HTML $B%Z!<%8$h$j$b9b$$$H$7$F$b!"<!2s0J9_$O!"I,MW$J%j%=!<%9$O$9$Y$F%m!<%+%k$K$"$k$?$a!"$[$H$s$I=V;~$K5/F0$7$^$9!#(J
<p>$B5/F0$N$?$S$K!"(JJava Web Start $B$O(J Web $B%5!<%P$r8!::$7$F!"%"%W%j%1!<%7%g%s$N?7%P!<%8%g%s$,F~<j2DG=$+$I$&$+$r3NG'$7$^$9!#F~<j2DG=$J>l9g$K$O!"?7%P!<%8%g%s$r<+F0E*$K%@%&%s%m!<%I$7$F5/F0$7$^$9!#$3$N$?$a!"%"%W%j%1!<%7%g%s$O<+F0E*$K:G?7HG$K99?7$5$l$^$9!#J#;($J%"%C%W%0%l!<%I=hM}$OI,MW$"$j$^$;$s!#(J
<h3>
$B%;%-%e%j%F%#(J</h3>
Java Web Start $B$O!"(JJava 2 $B%W%i%C%H%U%)!<%`$N>eAX$K9=C[$5$l!"Am9gE*$J%;%-%e%j%F%#%"!<%-%F%/%A%c$rDs6!$7$^$9!#(JJava Web Start $B$G5/F0$5$l$?%"%W%j%1!<%7%g%s$O!"%G%U%)%k%H$G!"%U%!%$%k$*$h$S%M%C%H%o!<%/$X$N%"%/%;%9$,@)8B$5$l$?4D6-(J ($B!V%5%s%I%\%C%/%9!W(J) $B$G<B9T$5$l$^$9!#$3$N$?$a!"(JJava Web Start $B$r;H$C$F%"%W%j%1!<%7%g%s$r5/F0$9$k$3$H$K$h$j!"%7%9%F%`$N%;%-%e%j%F%#$*$h$S40A4@-$r0];}$G$-$^$9!#(J
<p>$B%"%W%j%1!<%7%g%s$O!"%7%9%F%`$KBP$7$FL5@)8B$N%"%/%;%9$rMW5a$9$k$3$H$,$G$-$^$9!#$3$N>l9g!"%"%W%j%1!<%7%g%s$N=i2s5/F0;~$K!"(JJava Web Start $B$O(J [$B%;%-%e%j%F%#7Y9p(J] $B%@%$%"%m%0$rI=<($7$^$9!#(J<i></i>$B$3$N%@%$%"%m%0$K$O!"%"%W%j%1!<%7%g%s$r3+H/$7$?%Y%s%@!<$K$D$$$F$N>pJs$,I=<($5$l$^$9!#%Y%s%@!<$r?.Mj$9$k$3$H$rA*Br$9$k$H!"%"%W%j%1!<%7%g%s$,5/F0$7$^$9!#%"%W%j%1!<%7%g%s$NDs6!85$K4X$9$k>pJs$O!"%G%8%?%k%3!<%I=pL>$K4p$E$$$F$$$^$9!#(J</blockquote>
<a NAME="install"></a>
<h2>
$B%$%s%9%H!<%kJ}K!(J</h2>
<blockquote>
    $B$3$N%j%j!<%9$N%$%s%9%H!<%kJ}K!$*$h$S%7%9%F%`MW7o$K$D$$$F$O!"(J
    <a href="http://java.sun.com/products/javawebstart/1.2/ja/docs/installguide_ja.html">$B%$%s%9%H!<%k%,%$%I(J</a>$B$r;2>H$7$F$/$@$5$$!#(J
</blockquote>

<a NAME="use"></a>
<h2>
Java Web Start $B%=%U%H%&%'%"$N;HMQ(J</h2>

<blockquote>Java Web Start $B$r;HMQ$9$k$H!"(JJava $B%F%/%N%m%8%Y!<%9$N%"%W%j%1!<%7%g%s$r(J Web $B$+$iD>@\5/F0$G$-$^$9!#%"%W%j%1!<%7%g%s$N5/F0J}K!$K$O!"<!$N(J 3 $B$D$,$"$j$^$9!#(J
<ul>
<li>
Web $B%V%i%&%6$N%j%s%/$r%/%j%C%/$9$k$3$H$K$h$k5/F0(J</li>

<li>
Java Web Start $B$KAH$_9~$^$l$?%"%W%j%1!<%7%g%s%^%M!<%8%c$+$i$N5/F0!#%"%W%j%1!<%7%g%s%^%M!<%8%c$O!":G6a;HMQ$5$l$?%"%W%j%1!<%7%g%s$r5-21$7$F!";HMQIQEY$N9b$$%"%W%j%1!<%7%g%s$K$9$P$d$/%"%/%;%9$G$-$k$h$&$K$7$^$9(J</li>

<li>
$B%G%9%/%H%C%W%"%$%3%s$^$?$O(J [$B%9%?!<%H(J] $B%a%K%e!<$+$i$N5/F0(J (Microsoft Windows $B$N$_(J)</li>
</ul>
$B>e5-$N$I$NJ}K!$r;HMQ$9$k$H$7$F$b!"(JJava Web Start $B$O%"%W%j%1!<%7%g%s$,5/F0$5$l$k$?$S$K(J Web $B%5!<%P$K@\B3$7$F!"%"%W%j%1!<%7%g%s$N99?7$5$l$?%P!<%8%g%s$,;HMQ2DG=$+$I$&$+$r8!::$7$^$9!#(J
<h3>
Web $B%V%i%&%6$+$i$N5/F0(J</h3>
Java Web Start $B$N%G%b%Z!<%8(J (<a href="http://java.sun.com/products/javawebstart/ja/demos_ja.html">http://java.sun.com/products/javawebstart/ja/demos_ja.html</a>) $B$K$O!"%^%&%9$r(J 1 $B2s%/%j%C%/$9$k$@$1$G5/F02DG=$JB??t$N%"%W%j%1!<%7%g%s$X$N%j%s%/$,B8:_$7$^$9!#(J[Launch] $B%\%?%s$r%/%j%C%/$7$F!"$5$^$6$^$J%"%W%j%1!<%7%g%s$r5/F0$7$F$_$F$/$@$5$$!#(J<i></i>Web $B%V%i%&%6$,(J Java Web Start $B$r5/F0$7!"(JJava Web Start $B$,;XDj$5$l$?%"%W%j%1!<%7%g%s$r%@%&%s%m!<%I!"%-%c%C%7%e!"$*$h$S<B9T$7$^$9!#%"%W%j%1!<%7%g%s$rFsEYL\$K<B9T$9$k$H!"%"%W%j%1!<%7%g%s$O$9$G$K%m!<%+%k$KB8:_$7:FEY%@%&%s%m!<%I$9$kI,MW$,$J$$$?$a$K!"5/F0$,$:$C$HB.$/$J$k$O$:$G$9!#(J
<p>
$B$3$N%Z!<%8$K>R2p$5$l$F$$$k%G%b$NBgH>$O!"%f!<%6$,2?$bA`:n$7$J$/$F$b%@%&%s%m!<%I$5$l!"<B9T$5$l$^$9!#$3$l$i$N%"%W%j%1!<%7%g%s$O!"%m!<%+%k%G%#%9%/$*$h$S%M%C%H%o!<%/$X$N%"%/%;%9$,@)8B$5$l$?4D6-Fb$G<B9T$5$l!"%3%s%T%e!<%?$K$$$+$J$k%&%$%k%9$b%$%s%9%H!<%k$5$l$k$3$H$,$J$$$3$H$rJ]>Z$7$F$$$^$9!#(J
<p>
$B%G%b$NCf$K$O!"%m!<%+%k%O!<%I%G%#%9%/$X$N%"%/%;%9$J$I$N!"FCJL$J8"8B$rI,MW$H$9$k$b$N$b$"$j$^$9!#$3$l$i$N%"%W%j%1!<%7%g%s$N>l9g!"%;%-%e%j%F%#%@%$%"%m%0$,%]%C%W%"%C%W$7$F!"%3!<%I$X$N%G%8%?%k=pL><T$K4p$E$/%"%W%j%1!<%7%g%sDs6!85$N>pJs$,I=<($5$l$^$9!#(J
$B%"%W%j%1!<%7%g%s$O!"%Y%s%@!<$r?.Mj$9$k$3$H$rA*Br$7$?>l9g$K$N$_<B9T$5$l$^$9!#(J
<p>
$B$3$3$^$G$G!"(JJava Web Start $B$N;HMQJ}K!$N$9$Y$F$r@bL@$7$^$7$?!#$G$O!"(JJava Web Start $B$O$I$N$h$&$KF0:n$9$k$N$G$7$g$&$+(J? $B%"%W%j%1!<%7%g%s$r5/F0$9$k(J HTML $B%j%s%/$O!"<B:]$N$H$3$m!"I8=`E*$J(J HTML $B%j%s%/$G$9!#$?$@$7!"%j%s%/@h$,JL$N(J Web $B%Z!<%8$G$O$J$/!"(JJNLP $B%U%!%$%k$H8F$P$l$kFCJL$J9=@.%U%!%$%k$G$"$kE@$,0[$J$j$^$9!#(JWeb $B%V%i%&%6$O!"%U%!%$%k3HD%;R$d%U%!%$%k$N(J MIME $B%?%$%W$rD4$Y$F!"$=$l$,(J Java Web Start $B$K4XO"IU$1$i$l$F$$$k$3$H$rG'<1$7$^$9!#<!$K!"%@%&%s%m!<%I$7$?(J JNLP $B%U%!%$%k$r0z?t$H$7$F(J Java Web Start $B$r5/F0$7$^$9!#(JJava Web Start $B$O!"(JJNLP $B%U%!%$%k$K;XDj$5$l$?%"%W%j%1!<%7%g%s$N%@%&%s%m!<%I!"%-%c%C%7%e!"$*$h$S<B9T$r9T$$$^$9!#(J&nbsp;<a NAME="appman"></a>
<a name="appmanager">
<h3>
$BF3F~:Q$_$N%"%W%j%1!<%7%g%s%^%M!<%8%c$+$i$N5/F0(J</h3></a>
$B%"%W%j%1!<%7%g%s%^%M!<%8%c$O!"(JJava Web Start $B@=IJ$KAH$_9~$^$l$F$$$^$9!#%"%W%j%1!<%7%g%s%^%M!<%8%c$r;HMQ$9$k$H!"0JA0$K5/F0$7$?%"%W%j%1!<%7%g%s$r(J Java Web Start $B$+$i$9$P$d$/$+$D4JC1$K5/F0$G$-$^$9!#%"%W%j%1!<%7%g%s%^%M!<%8%c$r;HMQ$7$F!"%"%W%j%1!<%7%g%s$K4X$9$kJdB->pJs$r%"%W%j%1!<%7%g%s$N%[!<%`%Z!<%8$X$N%j%s%/$H$H$b$KI=<($9$k$3$H$b$G$-$^$9!#(J
<p>$B%"%W%j%1!<%7%g%s%^%M!<%8%c$+$i%"%W%j%1!<%7%g%s$r5/F0$9$k$K$O!"%"%W%j%1!<%7%g%s%"%$%3%s$r%@%V%k%/%j%C%/$9$k$+!"$^$?$O(J [$B5/F0(J] $B%\%?%s$r%/%j%C%/$7$^$9!#(J
<p>$B%"%W%j%1!<%7%g%s%^%M!<%8%c$N$b$&(J 1 $B$D$N=EMW$J5!G=$O(J [$B@_Dj(J] $B%@%$%"%m%0%\%C%/%9$G$9!#$3$l$K$h$j!"(JJava Web Start $B$N@_Dj$r3NG'$*$h$SJQ99$G$-$^$9!#$?$H$($P!"$3$N%@%$%"%m%0%\%C%/%9$K4^$^$l$k%?%V$r;H$C$F!"<!$N$3$H$,<B9T2DG=$G$9!#(J
<ul>
<li>
HTTP $B%W%m%-%7$r;XDj$9$k(J  ($B$^$?$O%G%U%)%k%H$N%V%i%&%6@_Dj$r;HMQ$9$k$h$&$K(J  Java Web Start $B$r9=@.$9$k(J)</li>

<li>
$B%@%&%s%m!<%I$7$?%"%W%j%1!<%7%g%s$N%-%c%C%7%e$r>C5n$9$k(J</li>

<li>
 $B%P!<%8%g%s$N0[$J$kJ#?t$N(J Java Runtime Environment $B$N0LCV$r;XDj$9$k(J</li>

<li>
Java $B%3%s%=!<%k$rI=<($9$k$+$I$&$+$rA*Br$9$k(J</li>

<li>
$B%k!<%H%;%-%e%j%F%#>ZL@=q$N%;%C%H$rI=<($9$k(J</li>
</ul>
$B%"%W%j%1!<%7%g%s%^%M!<%8%c$O!"%G%9%/%H%C%W$N(J [Java Web Start] $B%"%$%3%s$r%/%j%C%/$9$k$+!"(JMicrosoft Windows $B$N(J [$B%9%?!<%H(J] $B%a%K%e!<$+$i5/F0$7$^$9!#(JSolaris<sup><font size=-2>TM</font></sup> $B%*%Z%l!<%F%#%s%04D6-$d(J Linux $B$G$O!"(JJava Web Start $B%$%s%9%H!<%k%G%#%l%/%H%j$N(J <tt>javaws</tt> $B%3%^%s%I$r8F$S=P$7$F5/F0$7$^$9!#(JWeb $B%V%i%&%6$+$i%"%W%j%1!<%7%g%s%^%M!<%8%c$r5/F0$9$k$3$H$b$G$-$^$9!#$3$NJ}K!$NNc$K$D$$$F$O!"%G%b%Z!<%8(J (<a href="http://java.sun.com/products/javawebstart/ja/demos_ja.html">http://java.sun.com/products/javawebstart/ja/demos_ja.html</a>) $B$r;2>H$7$F$/$@$5$$!#(J
<h3>
$B%G%9%/%H%C%W%"%$%3%s$*$h$S(J [$B%9%?!<%H(J] $B%a%K%e!<(J (Microsoft Windows $B$N$_(J) $B$+$i$N5/F0(J</h3>
Java Web Start $B$O!"(JWeb $BG[Hw$5$l$?(J Java $B%F%/%N%m%8%Y!<%9$N%"%W%j%1!<%7%g%s$X$N%7%g!<%H%+%C%H$r!"(JMicrosoft Windows $B$N%G%9%/%H%C%W$*$h$S(J [$B%9%?!<%H(J] $B%a%K%e!<$K<+F0E*$K:n@.$G$-$^$9!#%G%U%)%k%H$G$O!"(JJava Web Start $B$O!"%"%W%j%1!<%7%g%s$N(J 2 $BEYL\$N5/F0;~$K!"%7%g!<%H%+%C%H$r:n@.$9$k$+$I$&$+$r%f!<%6$KLd$$9g$o$;$^$9!#$3$l$O(J [$B@_Dj(J] $B%Q%M%k$r;H$C$FJQ99$G$-$^$9!#(J
<p>$B%"%W%j%1!<%7%g%s%^%M!<%8%c$N(J [$B%"%W%j%1!<%7%g%s(J]$B"*(J[$B%7%g!<%H%+%C%H$N:n@.(J] $B$*$h$S(J [$B%"%W%j%1!<%7%g%s(J]$B"*(J[$B%7%g!<%H%+%C%H$N:o=|(J] $B%a%K%e!<9`L\$r;H$C$F!"%7%g!<%H%+%C%H$rDI2C$^$?$O:o=|$9$k$3$H$b$G$-$^$9!#(J

<h3>
$B%W%m%-%7%5!<%P(J / $B%U%!%$%"%&%)!<%k$N30$+$i$N(J Java Web Start $B%=%U%H%&%'%"$N;HMQ(J</h3>

$B%U%!%$%"%&%)!<%k$N30$+$i%"%W%j%1!<%7%g%s$r5/F0$9$k$K$O!"E,@5$J%W%m%-%7@_Dj$r;H$C$F(J Java Web Start $B%=%U%H%&%'%"$r9=@.$9$kI,MW$,$"$j$^$9!#(JJava Web Start $B%=%U%H%&%'%"$O!"%7%9%F%`$N%G%U%)%k%H%V%i%&%6(J (Microsoft Windows $B$N>l9g$O(J Internet Explorer $B$^$?$O(J Netscape<sup><font size=-2>TM</font></sup> $B%V%i%&%6!"(JSolaris $B%*%Z%l!<%F%#%s%04D6-$^$?$O(J Linux $B$N>l9g$O(J Netscape $B%V%i%&%6(J) $B$+$i<+F0E*$K%W%m%-%7@_Dj$r8!=P$7$h$&$H$7$^$9!#(JJava Web Start $B%F%/%N%m%8$O!"$?$$$F$$$N(J Web $B%W%m%-%7<+F09=@.%9%/%j%W%H$r%5%]!<%H$7$^$9!#$[$\$9$Y$F$N4D6-$G!"%W%m%-%7@_Dj$N8!=P$,2DG=$G$9!#(J

<p>
$B%W%m%-%7@_Dj$r<+F0E*$K8!=P$G$-$J$$>l9g!"(JJava Web Start $B$r:G=i$K;HMQ$9$k:]$K!"%W%m%-%7@_Dj$r;XDj$9$k$h$&5a$a$i$l$^$9!#(JJava Web Start $B$O$^$?!"G'>Z$r9T$&%W%m%-%7%5!<%P$X$N%"%/%;%9$KI,MW$J%f!<%6L>$*$h$S%Q%9%o!<%I$NF~NO$b5a$a$^$9!#(J
$B$3$N%f!<%6L>$*$h$S%Q%9%o!<%I$O!"8=9T$N(J Java Web Start $B$N8F$S=P$7$N$?$a$KJ]B8$5$l$^$9!#$?$@$7!"?7$?$K(J Java $B2>A[%^%7%s$r8F$S=P$7$F!"%;%-%e%j%F%#J]8n$5$l$?(J Web $B%5%$%H$K%"%/%;%9$9$k>l9g!"%f!<%6L>$*$h$S%Q%9%o!<%I$NF~NO$,5a$a$i$l$^$9!#$3$l$O!"J]B8$5$l$?%f!<%6L>$*$h$S%Q%9%o!<%I$N>pJs$r!"(JJava $B2>A[%^%7%s$N%$%s%9%?%s%9Fb$KJ]B8$9$k$?$a$G$9!#(J
<p>
Java Web Start $B$N(J [$B@_Dj(J] $B%Q%M%k$r;H$C$F!"%W%m%-%7@_Dj$rI=<($^$?$OJT=8$9$k$3$H$b$G$-$^$9!#%G%9%/%H%C%W$N%"%$%3%s$r%/%j%C%/$9$k$+(J (Microsoft Windows)$B!"(JJava Web Start $B%$%s%9%H!<%k%G%#%l%/%H%j$G(J <tt>./javaws</tt> $B$HF~NO$7(J (Solaris $B%*%Z%l!<%F%#%s%04D6-$*$h$S(J Linux)$B!"(J[$B%U%!%$%k(J]$B"*(J[$B@_Dj(J] $B$rA*Br$7$^$9!#%W%m%-%7%5!<%P$r7PM3$7$F(J Web $B$K%"%/%;%9$9$k4D6-$N>l9g!"(JJava Web Start $B$N(J [$B@_Dj(J] $B%Q%M%k$r;H$C$F!"E,@Z$K@_Dj$5$l$F$$$k$+3NG'$9$k$3$H$r$*4+$a$7$^$9!#(J
</blockquote>

<a NAME="relnotes"></a>
<h2>
$B%j%j!<%9%N!<%H(J</h2>
<blockquote>
  Java Web Start $B%=%U%H%&%'%"$N$3$N%j%j!<%9MQ$N%P%0=$@5$*$h$S3HD%5!G=$K$D$$$F$O!"(J<a href="http://java.sun.com/products/javawebstart/1.2/ja/docs/relnotes_ja.html">$B%j%j!<%9%N!<%H(J</a>$B$r;2>H$7$F$/$@$5$$!#(J
</blockquote>

<hr>
<table width="100%">
<tr>
<td width="60%">
<small>
Copyright &copy; 2008 Sun Microsystems, Inc.  All rights reserved.  Use is subject to
license terms.  Third-party software, including font technology, is copyrighted
and licensed from Sun suppliers.  Sun,  Sun Microsystems,  the Sun logo and
Java are trademarks or registered trademarks of Sun Microsystems, Inc. in the
U.S. and other countries.  All SPARC trademarks are used under license and are
trademarks or registered trademarks of SPARC International, Inc. in the U.S. and
other countries.  Federal Acquisitions: Commercial Software - Government Users
Subject to Standard License Terms and Conditions.
<p>
Copyright &copy; 2008 Sun Microsystems, Inc. Tous droits r&eacute;serv&eacute;s.  Distribu&eacute; par des
licences qui en restreignent l'utilisation.  Le logiciel d&eacute;tenu par des tiers,
et qui comprend la technologie relative aux polices de caract&egrave;res, est prot&eacute;g&eacute;
par un copyright et licenci&eacute; par des fournisseurs de Sun.  Sun,  Sun
Microsystems,  le logo Sun et  Java sont des marques de fabrique ou des marques
d&eacute;pos&eacute;es de Sun Microsystems, Inc. aux Etats-Unis et dans d'autres pays.  Toute
s
les marques SPARC sont utilis&eacute;es sous licence et sont des marques de fabrique ou
des marques d&eacute;pos&eacute;es de SPARC International, Inc. aux Etats-Unis et dans
d'autres pays.
</small></td>
<td align="right" valign="top">
<small>$B$3$N@=IJ$K$O!"(JNullsoft, Inc. $B$N%3!<%I$,4^$^$l$F$$$^$9!#(J</small>
</td>
</table>
</body>
</html>
